.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/4333/4333609.png');
    background-size: cover;
  }