
<div class="d-flex justify-content-between">
    <button routerLink="/register" mat-raised-button color="accent"><i class="fa fa-arrow-left"></i>Back to Registration</button>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
</div>

  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- FirstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>
  
      <!-- email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
         <!-- mobile -->
         <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
            <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
          </ng-container>
        <!-- BMI Result -->
        <ng-container matColumnDef="bmiResult">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BMI Result </th>
            <td mat-cell *matCellDef="let row"> {{row.bmiResult}} </td>
          </ng-container>

       <!-- Gender-->
       <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

       <!-- Package column-->
       <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Package </th>
        <td mat-cell *matCellDef="let row"> {{row.package}} </td>
      </ng-container>
  
        <!-- Enquiry Date column-->
        <ng-container matColumnDef="enquiryDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enquiry Date </th>
            <td mat-cell *matCellDef="let row"> {{row.enquiryDate | date}} </td>
          </ng-container>

           <!-- Action column-->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row"> 
                <button type="button" title="view" [routerLink]="['/detail',row.id]" mat-icon-button color="warn"><i class="fa fa-eye"></i></button>
                <button type="button" title="edit" mat-icon-button color="accent" (click)="edit(row.id)"><i class="fa fa-pencil"></i></button>
                <button type="button" title="delete" mat-icon-button color="primary" (click)="delete(row.id)"><i class="fa fa-trash"></i></button>
                 </td>
          </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  